<a href="https://colab.research.google.com/github/KacperWardzala/data-science-bootcamp2023/blob/main/02_linear_algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

### Vector norm, Length of a vector in R^2

In [ ]:
v1 = np.array([-1, 4])
v1

array([-1,  4])

In [ ]:
np.linalg.norm(v1)

4.123105625617661

Euclidean norm for R^n

In [ ]:
v2 = np.array([-10, 10, 13])
np.linalg.norm(v2)

19.209372712298546

Distance between two points on the plane

In [ ]:
p = np.array([3, 0])
q = np.array([0, 4])

np.linalg.norm([p - q])

5.0

# Distance between two points in R^2

In [ ]:
p = np.array([3, 0, 1])
q = np.array([0, 4, 2])

np.linalg.norm([p - q])

5.0990195135927845

# Matrix Multiplication
To multiply two matrices, the number of columns in the left matrix must match the number of rows in the right matrix.

In [ ]:
X = np.array([[5, 3], [3, 9]])
Y = np.array([[1], [-1]])

print(X, '\n')
print(Y)

[[5 3]
 [3 9]]
[[ 1]
 [-1]]

In [ ]:
Z = np.dot(X, Y)
print(Z)

[[ 2]
 [-6]]

In [ ]:
Z.shape

(2, 1)

Przyk≈Çad 2

In [ ]:
X = np.array([[2, -3, 2],
              [3, 2, 1]])
Y = np.array([[2, 1, -1],
             [8, 2, 3],
             [3, 2, 0]])
print(X, '\n')
print(Y)

[[ 2 -3  2]
 [ 3  2  1]]

[[ 2  1 -1]
 [ 8  2  3]
 [ 3  2  0]]

In [ ]:
Z = np.dot(X, Y)
print(Z)

[[-14   0 -11]
 [ 25   9   3]]

# Matrix determinant
A - matrix size: nxn

|A| - matrix determinant

In [3]:
 A = np.array([[2, 4], [-1, 3]])
 round(np.linalg.det(A))

10

# Matrix trace

In [4]:
A = np.array([[2, 4], [-1, 3]])
np.trace(A)

5

# Identity matrix

In [5]:
np.eye(5, dtype='int')

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

# Inverse matrix

In [7]:
A = np.array([[2, 4], [-1, 3]])
A

array([[ 2,  4],
       [-1,  3]])

In [10]:
B = np.linalg.inv(A)
B

array([[ 0.3, -0.4],
       [ 0.1,  0.2]])

In [11]:
np.dot(A, B)

array([[1.00000000e+00, 0.00000000e+00],
       [2.77555756e-17, 1.00000000e+00]])

In [12]:
np.dot(B, A)

array([[ 1.00000000e+00, -1.11022302e-16],
       [ 0.00000000e+00,  1.00000000e+00]])

# Transpose matrix

In [13]:
A

array([[ 2,  4],
       [-1,  3]])

In [14]:
np.transpose(A)

array([[ 2, -1],
       [ 4,  3]])

In [16]:
A.T

array([[ 2, -1],
       [ 4,  3]])

# Solving systems of equations

AX = B

X = A^-1 B

![image.png]()

In [18]:
A = np.array([[2, 4], [1, -1]])
print(A)

[[ 2  4]
 [ 1 -1]]

In [20]:
B = np.array ([[10], [-1]])
print(B)

[[10]
 [-1]]

In [23]:
A_inv = np.linalg.inv(A)
X = np.dot(A_inv, B)
X

array([[1.],
       [2.]])

In [24]:
X.shape

(2, 1)